.body {
    background-color: #1f2531;
}

.logo {
    float: left;
    background-color: #b86365;
    width: 280px;
    height: 194px;
    margin-top: -60px;
    margin-left: 15%;
    padding-top: 59px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}

.logo-text1 {
    color: white;
    font-size: 42px;
    text-align: center;
}

.logo-text2 {
    color: white;
    font-size: 13px;
    text-align: center;
    margin-top: -20px;
}

table {
    border-collapse: collapse;
    margin-left: 550px;
    white-space: nowrap;
    width: 500px;
    margin-top: -8px;
}

td {
    word-wrap: normal;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 50px;
    padding-bottom: 50px;
    color: gray;
    border-bottom: 1px solid gray;
    border-top: 4px solid #1f2531;
}

td:hover {
    color: white;
    border-top: 4px solid #b86365;
}

.pre-home {
    padding-right: 80px;
}

.none:hover {
    border-top: none;
    color: gray;
}

.featured {
    width: 547px;
    height: 148px;
    margin-left: 15%;
    margin-top: 200px;
}

.featured-text1 {
    color: white;
    font-size: 56px;
    margin-bottom: 20px;
}

.featured-text2 {
    color: white;
    margin-bottom: 30px;
}

.red {
    color: #b86365;
}

.ios {
    float: right;
    margin-right: 19%;
    position: relative;
    top: -300px;
}