.body {
    background-color: #1f2531;
}

.logo {
    margin-top: 0px;
    background-color: #b86365;
    width: 280px;
    height: 194px;
    margin-left: 250px;
    margin-top: -60px;
    padding-top: 59px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}

.logo-text1 {
    color: white;
    font-size: 42px;
    text-align: center;
}

.logo-text2 {
    color: white;
    font-size: 13px;
    text-align: center;
    margin-top: -20px;
}

.menu {
    justify-content: center;
    display: flex;
    position: absolute;
    left: 550px;
    top: 40px;
}

.menu_item {
    color: gray;
    display: inline-block;
    margin-top: -50px;
    padding-left: 35px;
    padding-right: 35px;
    padding-top: 50px;
}

.menu_item:hover{
    color: white;
    border-top: 5px solid #b86365;
}

.menu_line {
    height: 1px;
    width: 785px;
    background-color: gray;
    margin-left: 530px;
    margin-top: -70px;
}